<div class="card">
  <div class="card-body">
    <img
      class="card-img-top"
      *ngIf="trainingDetail.imageUrl"
      [src]="trainingDetail.imageUrl"
    >
    <h4 class="card-title">{{trainingDetail.name}}</h4>
    <input [(ngModel)]="trainingDetail.name">
    <strong
      class="card-text text-danger"
      *ngIf="trainingDetail.discontinued === true"
    >Training ausgebucht</strong>
    <p class="card-text">Termin: {{trainingDetail.nextRun | date:'dd.MM.yyy'}}</p>
    <p class="card-text">{{trainingDetail.description}}</p>
  </div>
</div>

