<div class="card">
  <div class="card-body">
    <img
      class="card-img-top"
      *ngIf="trainingDetail.imageUrl"
      [src]="trainingDetail.imageUrl"
    >
    <div class="card-block">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="text-danger" [hidden]="!form.controls['name'].errors?.required">
          Der Name fehlt
        </div>
        <label>Name:
          <input type="text" formControlName="name">
        </label>
        <div class="text-danger" [hidden]="!form.controls['description'].errors?.minlength">
          Die Beschreibung ist zu kurz
        </div>
        <label>Beschreibung:
          <textarea formControlName="description"></textarea>
        </label>
        <label>Date:
          <input type="date" formControlName="nextRun">
        </label>
        <label>Wird nicht fortgeführt:
          <input type="checkbox" formControlName="discontinued">
        </label>
        <hr />
        <button type="submit" [disabled]="!form.valid" class="btn btn-success">Speichern</button>
      </form>
    </div>
  </div>
</div>

