<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1>tcc Manager App</h1>

      <p>Anzahl Trainings: {{trainings.length}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <app-training-list
        [trainingsArray]="trainings"
        (trainingSelected)="onItemClick($event)"
      ></app-training-list>
    </div>
    <div class="col-lg-3">
      <app-training-details [trainingDetail]="clickedTraining" *ngIf="clickedTraining"></app-training-details>
    </div>
  </div>
</div>
